@media only screen and (max-width: 400px) {
  /* home page */
  .first-section {
    margin-left: 10px;
    width: 65%;
  }
  .greeting {
    font-size: 5ch;
    position: relative;
    top: 65px;
  }
  .im {
    font-size: 14px;
  }

  .full-stack-section {
    margin-bottom: 0px;
  }
  .full-stack {
    font-size: 16px;
  }
  .in {
    font-size: 14px;
  }
  .red-carre,
  .red-triangle,
  .red-circle,
  .green-carre,
  .green-triangle,
  .green-circle,
  .pink-carre,
  .pink-triangle,
  .pink-circle {
    display: none;
  }
  .mobile-section {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 400px;
    position: absolute;
    top: 100px;
  }
  .red-carre-2 {
    width: 30vw;
    height: 30vw;
    background-image: url(./images/1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
  }

  .red-circle-2 {
    width: 30vw;
    height: 30vw;
    background-image: url(./images/3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
  }
  .green-carre-2 {
    width: 30vw;
    height: 30vw;
    background-image: url(./images/4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
  }

  .green-circle-2 {
    width: 30vw;
    height: 30vw;
    background-image: url(./images/6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
  }
  .pink-carre-2 {
    width: 30vw;
    height: 30vw;
    background-image: url(./images/7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
  }

  .pink-circle-2 {
    width: 30vw;
    height: 30vw;
    background-image: url(./images/9.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
  }
  .third-section {
    width: 35%;
  }
  /* home page */

  /* ----------------------------------------------------------- */

  /* about page */
  .about-me {
    margin-top: 100px;
    margin-left: 15px;
    width: 70vw;
  }
  .about-intro {
    font-size: 24px;
  }
  .about-text {
    font-size: 20px;
  }
  /* about page */

  /* ----------------------------------------------------------- */

  /* projects page */
  .project {
    font-size: 20px;
  }
  /* projects page */
}
@media only screen and (min-width: 401px) and (max-width: 759px) {
}
@media only screen and (min-width: 760px) and (max-width: 999px) {
}
@media only screen and (min-width: 1000px) and (max-width: 1390px) {
}
@media only screen and (min-width: 1391px) and (max-width: 1600px) {
}
@media only screen and (min-width: 1601px) {
}
