@media only screen and (max-width: 400px) {
  /* Navbar */

  .nav-link {
    font-size: 10px;
  }
  #nav-icon {
    width: 25px;
    height: 10px;
  }

  /* Navbar */
  /* home page */
  .first-section {
    margin-left: 10px;
    width: 65%;
  }
  .greeting {
    font-size: 13vw;
    position: relative;
    top: 65px;
  }
  .im {
    font-size: 14px;
  }

  .full-stack-section {
    margin-bottom: 0px;
    height: 19%;
  }
  .full-stack {
    font-size: 16px;
  }
  .in {
    font-size: 14px;
  }
  #carre {
    position: relative;
    top: 300px;
    right: 550px;
  }
  #triangle {
    position: relative;
    top: 280px;
    right: 200px;
  }
  #circle {
    position: relative;
    top: 520px;
    right: 50px;
  }
  .third-section {
    width: 35%;
  }

  /* about page */
  .about-me {
    margin-top: 100px;
    margin-left: 15px;
    width: 70vw;
  }
  .about-intro {
    font-size: 24px;
  }
  .about-text {
    font-size: 20px;
  }
  /* about page */
  /* projects page */
  .project {
    font-size: 20px;
  }
  /* projects page */
}
@media only screen and (min-width: 401px) and (max-width: 779px) {
  .greeting {
    font-size: 13vw;
  }
  #carre {
    position: relative;
    top: 140px;
    right: 250px;
  }
  #triangle {
    position: relative;
    top: 120px;
  }
  #circle {
    position: relative;
    top: 270px;
  }
}
@media only screen and (min-width: 760px) and (max-width: 999px) {
}
@media only screen and (min-width: 1000px) and (max-width: 1390px) {
}
@media only screen and (min-width: 1391px) and (max-width: 1600px) {
}
@media only screen and (min-width: 1601px) {
}
/* home page */

/* ----------------------------------------------------------- */

/* ----------------------------------------------------------- */

/* contact page */

@media only screen and (min-width: 301px) and (max-width: 759px) {
  .contact-right-part {
    display: none;
    width: 0%;
  }
  .contact-left-part {
    width: 90%;
  }
}
@media only screen and (min-width: 760px) and (max-width: 999px) {
}
@media only screen and (min-width: 1000px) and (max-width: 1390px) {
}
@media only screen and (min-width: 1391px) and (max-width: 1600px) {
}
@media only screen and (min-width: 1601px) {
}
