:root {
  --color: #ff0000;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* HOME SECTION */
.home-page {
  background-color: #010101;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
.first-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 77%;
  height: 100vh;
  color: white;
  margin-left: 40px;
}
.my-name {
  height: 80%;
}
.hello-you {
  cursor: pointer;
  position: relative;
  top: 150px;
  left: 10vw;
  z-index: 10;
}
.greeting {
  color: white;
  font-size: 17ch;
  font-weight: 200;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.shapes {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  top: 50px;
  left: 9vw;
  z-index: 1;
}
.red-carre {
  min-width: 1ch;
  min-height: 1ch;
  width: 16vw;
  height: 16vw;
  max-width: 24ch;
  max-height: 24ch;
  background-image: url(./images/1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.red-triangle {
  min-width: 8ch;
  min-height: 8ch;
  width: 14vw;
  height: 14vw;
  max-width: 24ch;
  max-height: 24ch;
  background-image: url(./images/2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 12;
}
.red-circle {
  min-width: 8ch;
  min-height: 8ch;
  width: 15vw;
  height: 15vw;
  max-width: 28ch;
  max-height: 28ch;
  background-image: url(./images/3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.green-carre {
  min-width: 8ch;
  min-height: 8ch;
  width: 16vw;
  height: 16vw;
  max-width: 24ch;
  max-height: 24ch;
  background-image: url(./images/4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.green-triangle {
  min-width: 8ch;
  min-height: 8ch;
  width: 14vw;
  height: 14vw;
  max-width: 24ch;
  max-height: 24ch;
  background-image: url(./images/5.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 12;
}
.green-circle {
  min-width: 8ch;
  min-height: 8ch;
  width: 15vw;
  height: 15vw;
  max-width: 28ch;
  max-height: 28ch;
  background-image: url(./images/6.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.pink-carre {
  min-width: 8ch;
  min-height: 8ch;
  width: 16vw;
  height: 16vw;
  max-width: 24ch;
  max-height: 24ch;
  background-image: url(./images/7.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.pink-triangle {
  min-width: 8ch;
  min-height: 8ch;
  width: 14vw;
  height: 14vw;
  max-width: 24ch;
  max-height: 24ch;
  background-image: url(./images/8.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 12;
}
.pink-circle {
  min-width: 8ch;
  min-height: 8ch;
  width: 15vw;
  height: 15vw;
  max-width: 28ch;
  max-height: 28ch;
  background-image: url(./images/9.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.full-stack-section {
  margin-bottom: 40px;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.im {
  font-size: 28px;
  margin-bottom: 15px;
}
.hamada {
  color: var(--color);
}
.full-stack {
  font-size: 30px;
}
.in {
  font-size: 24px;
}
.berlin {
  color: var(--color);
}

.third-section {
  display: flex;
  flex-direction: column;
  width: 23%;
  height: 100vh;
  color: white;
  text-align: center;
  justify-content: space-between;
}

.icons {
  display: flex;
  margin-bottom: 40px;
  width: 100%;
  justify-content: space-around;
}
.icon {
  width: 20px;
}
.icon:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
/* ---------------------------------- */
.about-page {
  background-color: #010101;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.back-icon {
  width: 40px;
}
.about-me {
  margin-top: 200px;
  margin-left: 40px;
}
.about-intro {
  font-size: 55px;
  color: #707070;
}
.about-body-text {
  margin-top: 50px;
}
.about-text {
  font-size: 40px;
  color: #707070;
}
.about-berlin {
  color: var(--color);
}
.skill:hover {
  color: var(--color);
  cursor: grab;
}

/* PROJECTS PAGE */
.projects-page {
  background-color: #010101;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;
}
.project {
  color: #707070;
  font-size: 40px;
  margin-left: 5vw;
}
.project:hover {
  color: var(--color);
  cursor: pointer;
}
.all-projects {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.to-github {
  color: white;
  font-size: 40px;

  color: #707070;
}
.to-github-link {
  margin-top: auto;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
}
/* ----------------------------------- */
.contact-page {
  background-color: #010101;
  width: 100%;
  height: 100vh;
  display: flex;
}
.contact-form {
  display: flex;
  flex-direction: column;
}

/* ----------------------------------- */
.nav-bar {
  position: fixed;
  right: 0;
  top: 25%;
}
.nav {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.list-item {
  transform: rotate(90deg);
}
.nav-link {
  color: white;
  list-style-type: none;
  text-decoration: none;
}
.nav-link-about {
  padding-left: 20px;
}
