* {
  font-family: "Roboto", sans-serif;
}

/* HOME SECTION */
.home-page {
  background-color: #010101;
  width: 100%;
  height: 100vh;
  display: flex;
}
.first-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  height: 100vh;
  color: white;
  margin-left: 40px;
}
.full-stack-section {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.full-stack {
  font-size: 30px;
}
.from {
  font-size: 22px;
}
.berlin {
  font-size: 22px;
  color: #ff0000;
}
.second-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
  height: 100vh;
}
.circle-image {
  margin-right: auto;
  margin-left: auto;
}
.circle {
  width: 500px;
  height: 500px;
}
.third-section {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100vh;
  color: white;
  text-align: center;
  justify-content: flex-end;
}
.my-name {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.hamada {
  color: #ff0000;
  font-size: 50px;

  font-weight: 200;
}
.ghanem {
  color: #ff0000;
  font-size: 50px;
}
.icons {
  display: flex;
  margin-bottom: 40px;
  width: 100%;
  justify-content: space-around;
}
.icon {
  width: 20px;
}
.icon:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
/* ---------------------------------- */
.about-page {
  background-color: #010101;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.back-icon {
  width: 40px;
}
.about-me {
  margin-top: 200px;
  margin-left: 40px;
}
.about-intro {
  font-size: 55px;
  color: #707070;
}
.about-body-text {
  margin-top: 50px;
}
.about-text {
  font-size: 40px;
  color: #707070;
}
.about-berlin {
  color: #ff0000;
}

/* PROJECTS PAGE */
.projects-page {
  background-color: #010101;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;
}
.project {
  color: #707070;
  font-size: 40px;
  margin-left: 5vw;
}
.project:hover {
  color: #ff0000;
  cursor: pointer;
}
.all-projects {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.to-github {
  color: white;
  font-size: 40px;

  color: #707070;
}
.to-github-link {
  margin-top: auto;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
}
/* ----------------------------------- */
.contact-page {
  background-color: #010101;
  width: 100%;
  height: 100vh;
  display: flex;
}

.nav-bar {
  position: fixed;
  right: 0;
  top: 25%;
}
.nav {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.list-item {
  transform: rotate(90deg);
}
.nav-link {
  color: white;
  list-style-type: none;
  text-decoration: none;
}
.nav-link-about {
  padding-left: 20px;
}
